<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="margin: 0 auto;padding: 20%;">
    <h1>Products</h1>

    <div>
      {% if vide %}
      <h2>There is no products in the shop ! Come back later :) </h2>
      {% else %}
      {% for product in products %}
      <div id={{product.id}} style="border: solid 1px black; margin: 5px;">
      <h4 style="margin-top: 10px; margin-left: 5px;">{{ product.title }}</h4>
      <h5 style="color: brown; margin: 10px;"> {{ product.price}} $</h2>
      <form action="/add_to_cart" method="POST">
        <label for="quantity">quantity</label>
        <input type="number" id="quantity" name="quantity" min="1" max="10"/>
        <input type="hidden" name="productId" id="productId" value="{{ product.id }}"/>
        <input type="submit" id="btnSubmit" value="add to cart"/>
      </form>
      </div>
      {% endfor %}
      {% endif %}

    </div>
    <div>
      <form action="/home">
        <input type="submit" value="return to homepage">
      </form>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
