<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      label {
        margin: auto;
        width: 10%;
      }
    </style>
  </head>
  <body style="margin: 0 auto; padding:20%;">
    <h1>Sign Up</h1>

    <div>
    <form action="/signup_form" method="POST">
      <div>
      <label for="fname">First name</label>
      <input type="text" id="fname" name="fname" value="{{ fname }}"/>
      </div>

      <div>
      <label for="lname">Last name</label>
      <input type="text" name="lname" id="lname" value="{{ lname }}"/>
      </div>

      <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" value="{{ email }}"/>
      </div>

      <div>
      <label for="pwd">Password</label>
      <input type="password" name="pwd" id="pwd"/>
      </div>

      <input type="submit" name="Submit" id="btnSubmit" value="Submit"/>

    </form>
    </div>
    <div>
      {% for message in error %}
      <p style="color: brown; background-color: rgba(171, 43, 43, 0.7); border: #a52a2a solid 1px;">{{ message }}</p>
      {% endfor %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>